<div id="slides_control" class="slideshow">
    <div class = "slideshow-inner">
        <div class="slideImages">
            <img src="https://static.dezeen.com/uploads/2018/06/skywalk-rock-gibraltar-arc-designs_dezeen_2364_hero.jpg"
            class="picture">
        </div>
        <div class ="slideImages">
            <img src="https://a.cdn-hotels.com/gdcs/production49/d151/7c0d7d6b-3494-4b0d-b75c-fc33be8ebccf.jpg"
            class="picture">
        </div>
        <div class="slideImages">
            <img src="https://wallpapercave.com/wp/cdxkzZK.jpg"
            class="picture">
        </div>
       <div class = "buttons">
        <a href="" class="previous">&#8249;</a>
        <a href="#" class="next">&#8250;</a>
       </div>
    </div>
   
</div>