<div class="cities-page">
<div>
    <ul *ngFor="let cities of city">
        <li routerLink="cities">
            <a>{{cities.name}}</a>
        </li>

    </ul>
</div>
<router-outlet></router-outlet>
</div>
<app-cities></app-cities>





<!-- <a routerLink="/cities:{{cities.id}}">{{cities.name}}</a> -->
<!-- <h1>Why</h1> -->
<!-- <ul> -->
    <!-- <li *ngFor="let cities of city"> -->
        <!-- <a *ngFor="let cities of city">
            <h1><a routerLink="/cities:{{cities.id}}">{{cities.id}}</a></h1>
        </a> -->
    <!-- </li> -->
<!-- </ul> -->
