
<div class="cities-page">
    <div class="city">
        <div>
            <div>
             <h1>{{city.name}}</h1>
             </div>
        </div>
    <div></div>
    </div>
    <div class="posts">
        <div *ngFor= "let posts of city.posts" >
        <div>
           <h2><a routerLink = "/cities/{{city.id}}/posts/{{posts.id}}" >{{posts.title}}</a></h2>
            <p>{{posts.author}}</p>
        </div>
        </div>
    <router-outlet></router-outlet>
    </div>
</div>
<body>
<div class ="container">
    <div class="item" id="SF">SanFrancisco</div>
    <div class="item">Gibralter</div>
    <div class="item">London</div>
    <div class="item">Louisville</div>
    <div class="item">Wellington</div>
</div>
<div class ="containerPosts">
    <div class="item2"></div>
    <div class="item2"></div>
</div>
<div class ="containerImage">
    <div class="item3" >San Fran</div>
</div>
</body>


<!--
<div class="cities-page">
    <div class="city">
        <div>
            <div>
             <h1>{{city.name}}</h1>
             <h1>{{city.name}}</h1>  
             </div>
        </div>
    <div></div>
    </div>
    <div class="posts">
        <div *ngFor= "let posts of city.posts" >
        <div>
           <h2><a routerLink = "/cities/{{city.id}}/posts/{{posts.id}}" >{{posts.title}}</a></h2>
            <p>{{posts.author}}</p>
          </div>
    </div>
    <router-outlet></router-outlet>
</div>
        <div>
           <h2><a routerLink = "/cities/{{city.id}}/posts/{{posts.id}}" >{{posts.title}}</a></h2> 
            <p>{{posts.author}}</p>
          </div>
    </div>
    
</div>
  -->
  
